PORT=3050

# Desenvolvimento local
# DATA_COLLECTOR_URL=http://localhost:3000
# DATA_BACKTEST_URL=http://localhost:3100
# DATA_ROBOT_URL=http://localhost:3200

# Producao (fracta.online)
DATA_COLLECTOR_URL=https://data.fracta.online
DATA_BACKTEST_URL=https://backtest.fracta.online
DATA_ROBOT_URL=https://robot.fracta.online
